.banner{
    height: 215px;
    background-size: cover; // 完整顯示圖片
    background-image: url(../images/banner_service-sm@2x.png);
}
@include media-breakpoint-up(lg){
    .banner{
        height: 288px;
        background-image: url(../images/banner@2x.png);
    }
}