// 卡片放大功能
.card-scaled:hover{
    transition: 1s;
    transform: scale(1.85, 1.85);
    transform-origin: 0 0; //由左上角開始縮放
    -webkit-transform-origin: 0 0;
}
@include media-breakpoint-up(lg){
    .card-scaled:hover{
        transform: scale(1);
    }
}