.btn-outline-secondary{
    &:hover, &:active, &:first-child:active {
        background-color: $primary;
        border-color: $primary;
        color: $secondary;
    }
}
.btn-hover-shadow{
    &:hover{
        box-shadow: 0px 3px 0px $secondary;
    }
}