.custom-card-hover {
    position: relative;
    &-content{
        display: none;
    }
    &:hover > &-content{
        display: flex;
        position: absolute;
        background :transparent linear-gradient(180deg, #00000000 0%, #0000005D 100%) 0% 0% no-repeat;       
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

// 領養專區
.card-switch{
    box-shadow: $box-shadow-sm;
    &:hover{
        box-shadow: $box-shadow;
    }
    &:hover a{
        color: $primary;
    }
    // hover更換圖片
    // hover時，.switch-img-hover顯示，switch-img隱藏
    .switch-img-hover, &:hover .switch-img{
        display: none;
    }
    &:hover .switch-img-hover{
        display: block;
    }
}