.header{
    height: 635px;
    background-image: url(../images/home_mobile.png);
    background-size: cover; // 完整顯示圖片
    background-position: top center; //繞圖片從中下方開始顯示
}
@include media-breakpoint-up(lg){
    .header{
        height: 810px;
        background-image: url(../images/home.png);
    }
}
@include media-breakpoint-up(xxl){
    .header{
        height: 1080px;
        background-image: url(../images/home.png);
    }
}